body {
    background-image: url("../image/dark-wood.jpg");
}
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -20px 30px auto 30px;
    background-color: rgb(236, 228, 228);
}
h2 {
	color: #4b16a0;
	text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 20px;

}.question_one{
    width: 80%;
    padding: 25px;
    
}
.question_two{
    width: 80%;
    border: 5px 5px auto 5px;
    padding: 25px;
    margin: 20px;
}

p{
    color: black;
    line-height: 2.3rem;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
#time{
    color: #3a1e32;
    text-transform: capitalize;
}
@media screen and (max-width : 767px){
    p{
        line-height: 1.5rem;
        font-size: 1rem;
    }
    h2 {
        letter-spacing: 1px;
        font-size: 1rem;
    
    }

}
nav{
    background: linear-gradient(30deg, rgb(170, 165, 165) 50%, rgb(165, 163, 163) 50%);
    border-radius: 4em;
}
nav ul {
    background: linear-gradient(30deg, rgb(170, 165, 165) 50%, rgb(165, 163, 163) 50%);
    margin: 20px;
    padding: 5px 0px 5px 30px;}
nav ul>li {
    display: inline;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-right: 40px;
    text-decoration: none;}
nav li a:link{
              text-decoration: none;
              color: rgb(65, 9, 9);}
nav li a:visited{color:rgba(5, 3, 3, 0.986);}
nav li a:hover{color: greenyellow;}
nav li a:active{color: white;}
