*{
    margin: 0;
}
body {
    color: rgb(80, 42, 42);
    background-color: rgb(202, 198, 198);
    background-image: url("./image/dark-wood.jpg");
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;}
#page {
    width: 97%;
    margin: auto auto  auto;
    background-color: #ffffff;}
#header{
    margin-top: -40px;
    background-color:rgb(235, 233, 233);
    float : center;
}
nav{
    margin-top: 40px;
    background: linear-gradient(30deg, rgb(170, 165, 165) 50%, rgb(165, 163, 163) 50%);
    border-radius: 4em;
}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;}
nav ul>li {
    display: inline;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-right: 40px;
    text-decoration: none;}
nav li a:link{
              text-decoration: none;
              color: rgb(65, 9, 9);}
nav li a:visited{color:rgba(5, 3, 3, 0.986);}
nav li a:hover{color: greenyellow;}
nav li a:active{color: white;}
#description {
    display: flex;
    justify-content: space-between;
    line-height: 4em;
    margin-top: 30px;
    /* clear: both;
    overflow: auto;
    width: 100%; */}
figure {
     flex: 1;
     justify-content: space-around;
    }

#me{
    flex: 1;
    justify-content: space-between;
}
img{
   height: fit-content;
}
#file{
    margin-top: 100px;
}
h1{
    margin-bottom: 50px;
    margin-top: 100px;
    font-weight: bolder;
    font-size: 50px;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}
@-webkit-keyframes mymove {
    50% {font: 40px bold;}
}
/* Standard syntax */
@keyframes mymove {
    50% {font: 40px bold;}
}
h3.mi{
 font-weight: bolder;
 font-size: 1.4em;
}
p.ri{
    font-size: 1.2em;
}
#all_contents{
    clear: both;
    width: 100%;
}

/* =================================================== */
/* tables*/
li {
    list-style-image: none;
    line-height: 1.6em;}
table {
    border-spacing: 0px;
    margin: 15px;
}
th, td {
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 20px;
    margin: 0px;}
th, td {
    text-align: left;
    background-color: rgb(173, 168, 168);
    border: 1px solid rgb(228, 221, 221);
   }
tr.head th {
    color: #fff;
    background-color: #90b4d6;
    border-bottom: 2px solid #547ca0;
    border-right: 1px solid #749abe;
    border-top: 1px solid #90b4d6;
    text-align: center;
    text-shadow: -1px -1px 1px #666;
    letter-spacing: 0.15em;}
td {
    text-shadow: 1px 1px 1px #fff;}
/* ========================================================= */
ul{
    margin-left: 0;
}
ul>li{
    list-style-type: none;
}
.bottom{
    display: flex;
    background-color: rgb(143, 142, 142);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(6, 11, 36);
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: inherit;
    /* width: 100%;
    height: 500px; */
}
.status_1{
    flex: 1.5;
    font-size: 1.25rem;
    color: #2c1026;
}
.status_2{
    flex: 1;
}
.status_3{
    flex: 1;
    font-size: 1.25rem;
    color: #2c1026;
}
p{
    line-height: 50px;
}
h2.hed{
    text-align: center;
    height: 50px;
    margin-top: 0px;
    font-weight: bold;
    color: green;
    text-shadow: -1px -2px #666666;
    padding-top: 20px;
}
#contents_all{
    background-color: rgb(143, 142, 142);
    color: black;
    padding: 0;
}
fieldset {
    border-radius: 10px;
    padding: 20px;
   }
 
legend {
    color: black;
    width: 80%;
    border: none;
    background-color: rgba(145, 95, 194, 0.863);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    text-transform: uppercase;}
input {
    border-bottom: 1px dotted #dcdcdc;
    border-top: none;
    border-right: none;
    border-left: none;
    color:rgba(0, 0, 0, 0.959);
    padding: 5px;
    margin-bottom: 5px;}
label{
    margin: auto 10px auto auto;
    font-size: 20px;
}
#file{
    float: left;
    width: 50%;
    margin-top: 10px;
}
input:focus {
    border: 1px solid #f1c1c1;
    outline: none;}
 input[type="submit"] {
    border: 1px solid rgba(6, 138, 6, 0.966);
    background-color: #009966cb;
    color: #FFFFFF;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    margin-top: 10px;} 
input#submit:hover {
    color: #665544;
    background-color: #efefef;
    
} 
input[type="text"] {
    width: 180px;
    border: 1px solid #d6d6d6;
    padding: 5px;
    outline: none;}

input[type="text"]:focus,
input[type="text"]:hover {
    background-color: #d0e2f0;
    border: 1px solid green;}
input[type="submit"]:hover {
    border: 1px solid #006633;
    background-color: rgb(0, 204, 51);
    color: #FFFFFF;
    cursor: pointer;}
.title {
    float: left;
    width: 160px;
    clear: left;}
.submit {
    width: 310px;
    text-align: right;
    margin-bottom: 5px;}
#hear{
    font-size: 25px;
}
#hear_about{
    font-size: 25px;
}
#visit{
    font-size: 25px;
    margin-bottom: 0px;
}
.name{
    font-size: 25px;
    margin-bottom: 5px;
}
.submit{
    font-size: 25px;
}
.check{
    font-size: 25px;
}
footer{
    background-color: rgb(143, 142, 142);
    position: absolute;
    margin-top: 0;
    width: 97%;
}
h3{
    text-align: center;
}
.social ul>li{
    display: inline-flex;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}
footer p{
    color:rgb(216, 212, 212);
    text-align: center;
    font-size: 1.2em;
}
p iframe{
    position: relative;
    width: 600px;
    height: 300px;
    margin-top: 0px;
}
/* for the image gallary */
#content {
    width: 720px;
    margin: 0px auto;}
#one {
    background-color: #d4d0c6;
    width: 30%;
    float: left;
    margin: 1.6%;
}
#national{
    margin-top: -40px;
}
/* the media query */
@media only screen and (max-width: 767px){
    #content {
        width: 767px;
        margin: 0px auto;}
    header {
        margin: 30px 0px 10px 0px;}
    #description {
        display: flex;
        flex-direction: column;}
    #one {
        background-color: #d4d0c6;
        width: 50%;
        float: left;
        margin: 1.6%;
    }
    img{
        width: 100%;
    }
    #national{
        margin-top: -40px;
    }
}
.checkbtn{
    font-size: 30px;
    color: rgb(21, 7, 212);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width : 768px){
    label.log{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
       font-size: 16px; 
    }
}
